body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font: 12pt "Tahoma";
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.container {
  width: 21cm;
  padding: 0.5cm;

  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.fourthPageContainer {
  padding: 0 2cm 2cm 0;
}
.img-logo {
  padding: 20px;
}
.headerTitle {
  font-size: 2vw;
}
.secondTitle {
  font-size: 1vw;
}
.namePadding {
  padding: 8px;
}
.table td {
  padding: 0;
}
.table-bordered td {
  border: 0.5px solid var(--dark);
}
.btnEdit {
  padding: 12px;
}
.text-center a {
  color: #000000;
  text-decoration: none;
}
.indent {
  text-indent: 45px;
}
.studentSignature {
  text-align: right;
  padding: 15px 12px 10px 12px;
}
.signature {
  text-align: center;
  padding: 15px;
}
hr {
  height: 2px;
  margin-bottom: 0.3rem;
  border-width: 0;
  color: black;
  background-color: black;
}

p {
  margin: 2px;
  font-size: 10px;
}
label {
  margin: 0 0 4px;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
